.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.answerFormCon {
  margin-top: 3rem;
}

.answerForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto 0 auto;
}

.answerInput {
  margin: .5rem;
  font-size: 2rem;
}

.tildeButton {
  width: 50px;
  padding: .5rem;
  margin: .3rem;
  font-size: 2rem;
}

.totalQs {
  font-size: 2rem;
}
.question {
  font-size: 3rem;
}