nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10rem;
	padding: 0 4rem;

	a {
		font-size: 2rem;
		text-decoration: none;
	}
}

.signInCon {
	display: flex;
	justify-content: space-around;
	padding: 0 2rem;

	.imageCon {
		display: flex;
		margin-top: 8rem;

		.mainAli {
			height: 12.5rem;
			width: 25rem;
			background-image: url('../assets/logo.png');
			background-repeat: no-repeat;
			background-position: 0 4%;
			background-size: 95%;
		}

		.textBubble {
			height: 10rem;
			width: 11rem;
			background-image: url('../assets/textBubble.png');
			background-repeat: no-repeat;
			background-position: 0 4%;
			background-size: 95%;

			.bubbleText {
				display: block;
				margin-top: 1rem;
				margin-left: 1.5rem;
				height: 2rem;
				width: 6rem;
				font-size: 1.5rem;
			}
		}
	}

	.signIn {
		display: flex;
		flex-direction: column;
		height: 25rem;
		width: 40%;

		input {
			width: 80%;
			height: 30%;
			border: none;
			margin: auto;
			font-size: 1.5rem;
			padding-left: 1rem;
			border-radius: 25px;
			border: 1px solid grey;
		}

		input:focus {
			border-radius: 25px;
			outline: none;
			border: 1px solid blue;
		}
		input::placeholder {
			font-size: 1.5rem;
		}
	}
}
